[Desktop Entry]
Name=Image Editor
GenericName=Image Editor
Comment=Create images and edit photographs
Exec=gimp-3.0 %U
TryExec=gimp-3.0
Icon=krita
Type=Application
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/bmp;image/g3fax;image/gif;image/x-fits;image/x-pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/x-xcf;image/x-compressed-xcf;image/x-gimp-gbr;image/x-gimp-gih;image/x-gimp-pat;image/x-pcx;image/jpeg;image/png;image/svg+xml;image/tiff;image/webp;
StartupNotify=true
